/* Body */
body {
  background-color: #ffffff;
  color: #d3d3d3;
  font: 12pt arial;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  background-color: #fff;
  padding: 0 15px;
}

.page-header {
  text-align: center;
}

/* Navbar */
.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  min-height: 50px;
  padding: 15px;
}

.navbar-top-links li a.active {
  background-color: #eeeeee;
}

.navbar-top-links li a:hover {
  background-color: #eeeeee;
}

/* Floor Plan */
#mynetwork {
  background-image: url('/static/images/floorplan.gif');
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid lightgray;
  height: 400px;
  width: auto;
}