/* Body */
body {
  background-color: #f8f8f8;
  font: 12pt arial;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  background-color: #fff;
  padding: 0 15px;
  text-align: center;
}

/* Navbar */
.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links li a.active {
  background-color: #eeeeee;
}

.navbar-top-links li a:hover {
  background-color: #eeeeee;
}

/* Mode Selection */
.btn {
  min-height: 200px;
  min-width: 200px;
}

.panel-body {
  text-align: center;
}